body {
    margin: 0;
}

header {
    background-color: rgb(44, 61, 78);
    color: white;
    text-align: center;
    text-transform: uppercase;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.2rem;
}