* {
    box-sizing: border-box;
}

/* ================================= 
  Base Element Styles
==================================== */

body {
    margin: 0;
    font-family: "Merriweather", serif;
}

header {
    background-color: rgb(44, 61, 78);
    color: white;
    text-align: center;
    text-transform: uppercase;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.1rem;
}

h2 {
    margin-bottom: 0;
}

legend,
h2 {
    font-size: 1.2rem;
}

aside {
    text-align: center;
}

main,
aside {
    width: 90%;
    margin: 0 auto;
}

aside p,
#state,
footer p,
.wrapper label,
.newsletter-sect {
    font-size: 0.9rem;
}

/* ================================= 
  Base Layout Styles
==================================== */

aside p {
    color: rgb(161, 160, 160);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.wrapper label {
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
}





/* ---- Layout Containers ---- */

.contact {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



/* ---- Page Elements ---- */

.two-bar {
    background-color: black;
    height: 5px;
    margin-bottom: 2.5px;
}

.one-bar {
    background-color: black;
    height: 2px;
}

.single,
#zip {
    margin-bottom: 1.5rem;
}

.empty {
    height:200px;
}

/* ================================= 
  Form Styles
==================================== */
form,
footer,
h2 {
    margin-top: 1.5rem;
}

fieldset,
button {
    border: none;
}

fieldset {
    padding: 0;
    margin: 0;
}

legend {
    padding: 0;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

footer p {
    font-style: italic;
    color: rgb(165, 163, 163);
    text-align: center;
}

label {
    color: rgb(119, 118, 118);
    font-weight: 500;
}
input[type="text"],
select,
.textbox {
    min-height: 3rem;
    border-radius: 3px;

}

label + input,
select {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}



input::placeholder {
    text-align: right;
    font-style: italic; 
    margin-right: 1rem; 
    opacity: 0.5; 
    font-size: 0.8rem;

}


input[placeholder="Choose State"]::placeholder {
    text-align: justify;
    font-style: normal;
    padding-left: 1rem;
    
}

input:focus,
textarea:focus,
button:focus,
select:focus {
        outline: solid rgb(35, 107, 131);
}

select,
input[type="text"],
textarea {
    background-color: rgb(234, 233, 233);
    border: none;
}

select {
    padding-left: 1rem;
    color: #b9b9b9;
}

#zip {
    width: 50%;
}

input[type="text"] {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.3rem;
}

option  {
    color: black;
}

button {
    background-color: rgb(101, 202, 185);
    min-height: 3.5rem;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    font-family: "Merriweather", serif;
    font-weight: bold;
    width: 100%;
}

#state {
    font-weight: 600;
    font-family: "Merriweather", serif;
}

fieldset > label {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.newsletter-sect label {
    display: inline-block;
    margin: 0.5rem 0;
    
}

#format {
    margin-top: 1rem;
}

#other-topics {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.textbox {
    min-height: 6rem;
    width: 100%; 
    margin-bottom: 1.5rem;
    resize: none;
}

/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: ???px) {

}

@media screen and (min-width: ???px) {

}



