* {
    box-sizing: border-box;
}

/* ================================= 
  Base Element Styles
==================================== */

body,
button,
#state {
    font-family: "Merriweather", serif;
}

body,
.contact,
fieldset {
    margin: 0;
    
}

header {
    background-color: rgb(44, 61, 78);
    text-transform: uppercase;
    height: 4.5rem;
    align-items: center;
    justify-content: center;
}

header,
.wrapper {
    display: flex;
}

header,
button  {
    color: white;
}

header,
aside,
footer p  {
    text-align: center;

}

h1,
button {
    font-size: 1.1rem;
}

h2 {
    margin-bottom: 0;
}

legend,
h2 {
    font-size: 1.2rem;
}

main,
aside {
    width: 90%;
    margin: 0 auto;
}

aside p,
#state,
footer p,
.wrapper label,
.newsletter-sect {
    font-size: 0.9rem;
}

/* ================================= 
  Base Layout Styles
==================================== */

aside p {
    color: rgb(161, 160, 160);
}

aside p,
fieldset > label {
    margin-bottom: 2rem;
}

aside p,
label + input,
select,
fieldset > label {
    margin-top: 0.5rem;
}

.wrapper label {
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
}





/* ---- Layout Containers ---- */

.contact,
fieldset,
legend {
    padding: 0;
}

.wrapper {
    flex-wrap: wrap;
    flex-direction: column;
}



/* ---- Page Elements ---- */

.two-bar {
    height: 5px;
    margin-bottom: 2.5px;
}

.two-bar,
.one-bar {
    background-color: black;
}

.one-bar {
    height: 2px;
}

.single,
#zip,
.textbox {
    margin-bottom: 1.5rem;
}

.empty {
    height:200px;
}

/* ================================= 
  Form Styles
==================================== */
form,
footer,
h2 {
    margin-top: 1.5rem;
}

fieldset,
button,
select,
input[type="text"],
textarea {
    border: none;
}

legend,
button {
    font-weight: bold;
}

footer p {
    color: rgb(165, 163, 163);
}

footer p,
input::placeholder {
    font-style: italic;
}

label {
    color: rgb(119, 118, 118);
    font-weight: 500;
}
input[type="text"],
select,
.textbox {
    min-height: 3rem;
    border-radius: 3px;

}

label + input,
select,
legend {
    margin-bottom: 0.5rem;
}



input::placeholder {
    text-align: right;
    margin-right: 1rem; 
    opacity: 0.5; 
    font-size: 0.8rem;

}


input[placeholder="Choose State"]::placeholder {
    text-align: justify;
    font-style: normal;
    
}

input[placeholder="Choose State"]::placeholder,
select,
input[type="text"] {
    padding-left: 1rem;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
        outline: solid rgb(35, 107, 131);
}

select,
input[type="text"],
textarea {
    background-color: rgb(234, 233, 233);
}

select {
    color: #b9b9b9;
}

#zip {
    width: 50%;
}

input[type="text"] {
    padding-right: 1rem;
    font-size: 1.3rem;
}

option  {
    color: black;
}

button {
    background-color: rgb(101, 202, 185);
    min-height: 3.5rem;
    border-radius: 5px;
}

button,
.textbox,
.wrapper input,
.wrapper label,
select {
    width: 100%;
}

#state {
    font-weight: 600;
}

.newsletter-sect label,
.wrapper label {
    display: inline-block;
    
}

.newsletter-sect label {
    margin: 0.5rem 0;
    
}

#format {
    margin-top: 1rem;
}

#other-topics {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.textbox {
    min-height: 6rem;
    resize: none;
}

/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 768px) {

    h1 {
        font-size: 0.9rem;
    }

    h2 {
        margin-top: 3rem;
    }

    header {
        height: 3rem;
    }

    main,
    aside {
    width: 55%;
    }

    .two-bar {
        height: 4.5px;
        margin-bottom: 2.2px;
    }

    legend {
        font-size: 1rem;
    }

    aside p {
        font-size: 0.7rem;
    }

    form {
        margin-top: 2.5rem;
    }
    
    #state,
    footer p,
    .wrapper label,
    .newsletter-sect {
        font-size: 0.8rem;
}


}



